body {
  font-family: 'Poppins', sans-serif;
}

/* Ripple menu effect */
.ripple-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.ripple-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3); /* white ripple */
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ripple-link:hover::before {
  width: 200px;
  height: 200px;
  animation: ripple78 1s ease-out infinite;
  opacity: 1;
}

@keyframes ripple78 {
  0% { width: 0; height: 0; opacity: 1; }
  100% { width: 200px; height: 200px; opacity: 0; }
}

.ripple-link span {
  position: relative;
  z-index: 2;
}







